.TitleBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    min-width: 280px;
    max-width: 350px;
    position: relative;
    margin-top: 30px
}

.FagBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    min-width: 280px;
    max-width: 600px;
    position: relative;

}


.container {
    padding-top: 5px;
    font-weight: 700;
}

.TitleBox > p {
    font-weight: 500;
    background-color: var(--backBlue);
    text-align: center;
    padding: 5px;
}

.TitleBox > span {
    display: flex;
    justify-content: space-start;
    align-items: baseline;
    gap: 4px;
}

.TitleBox > span > h4 {
    font-weight: 400;
    font-size: 14px;
    color: gray;
}