.FindPWBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    min-width: 280px;
    max-width: 350px;
    position: relative;
    margin-top: 30px;
}

.FindPWBox > h3 {
    padding: 5px;
    margin: 15px 0 0 0;
    color: var(--maincolor);
    background-color: var(--backBlue);
}

.FindPWBox > p {
    color: grey;
    margin: 0;
    font-size: 15px;
    margin-top: 15px;
}

.FindPWBox > form {
    display: flex;
    justify-content: space-around;
}

.FindPWBox > a {
    text-align: center;
}

.pwSpan {
    display: flex;
    justify-content: space-around;
    background-color: var(--maincolor);
    color: white;
    font-size: 13px;
}

.FindPWBox > span {
    display: flex;
    justify-content: space-start;
    align-items: baseline;
    gap: 4px;
}

.FindPWBox > span > h4 {
    font-weight: 400;
    font-size: 14px;
    color: gray;
}