.calendarBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    min-width: 280px;
    max-width: 350px;
    position: relative;
    margin-top: 30px;
}

.calendarBox >span {
    display: flex;
    justify-content: space-start;
    align-items:baseline;
    gap:4px;
}

.calendarBox>span>h4{
    font-weight: 400;
    font-size:14px;
    color:gray;
}

.dateTitle {
    text-align: center;
    background-color:var(--maincolor);
    color:white;
    font-weight: 600;
    padding:5px;
    margin: 0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.react-calendar {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
    border:0;
}

.feedBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    max-width: 700px;
    position: relative;
}

.feedBox > a {
    width: 100%;
}

.Number {
    gap: 30px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Condition {
    border-radius: 18px;
    padding:5px 10px;
    font-size: 14px;
    font-weight: 700;
    color:white;
}
.Negative{
    background-color: #db9791;
}
.Nutreal {
    background-color: #CADB69;
}
.Positive{
    background-color: #80abdb;
}