.negativeDay {
    background: #DB9791;
    border-radius: 18px;
    font-weight: 800;
    color:white;
}

.defaultDay {
    background: #CADB69;
    border-radius: 18px;
    font-weight: 800;
    color: white;
}

.positiveDay {
    background: #80ABDB;
    border-radius: 18px;
    font-weight: 800;
    color: white;
}

