.DelBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;
        min-width: 280px;
        max-width: 350px;
        position: relative;
        margin-top: 30px;
}
.DelBox > h3{
    color:var(--maincolor)
}

.DelBox > p {
    font-weight: 300;
    margin: 0;
}

.DelBox>span {
    display: flex;
    justify-content:space-around;
}

.DelBox > span > button{
    width: 40%;
}