.formRegister {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    min-width: 280px;
    max-width: 350px;
    position: relative;
    margin-top: 30px;
}

.formRegister>h3 {
    padding:5px;
    margin:15px 0 0 0;
    color: var(--maincolor);
    background-color: var(--backBlue);
}

.formRegister>p {
    color: grey;
    margin: 0;
    font-size: 15px;
    margin-top: 15px;
}

.formRegister > form {
    display: flex;
    justify-content: space-around;
}

.formRegister > div{
    padding:10px;
    margin: 20px 0;
    color:grey;
    border: 1px solid var(--maincolor);
    overflow: scroll;
    height: 200px;
}

.pwSpan {
    display: flex;
    justify-content: space-around;
    background-color: var(--maincolor);
    color:white;
    font-size: 13px;
}