@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;500;700&family=Noto+Serif+KR:wght@200;400;500;700&family=Oswald:wght@700&display=swap');*{
    font-family: 'Gothic A1', sans-serif;
    /* font-family: 'Noto Serif KR', serif;
    font-family: 'Oswald', sans-serif; */
}
/* 
Gothic A1
Thin 100
Light 300
Medium 500
Bold 700 */

/* Noto Serif KR
ExtraLight 200
Regular 400
Medium 500
Bold 700 */

/* Oswald
Bold 700 */

#root {
    --maincolor: #002560;
    --semiSilver: #DBDBDB;
    --backBlue: #e6eefb;
    
}

#contentPage {
    width:100%;
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;
}